

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box{
    width: 800px;
    height: 400px;
}

img{
    width: 100%;
    height: 100%;
    position: relative;
}

.none{
    display: none;
}

.block{
    display: block;
}

.btn {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 355px;
}

.slide {
    width: 800px;
    height: 400px;
    position: relative;
}

.title {
    position: absolute;
    bottom: 55px;
    left: 10px;
    color: #fff;
    font-size: 32px;
}

.txt {
    position: absolute;
    left: 10px;
    bottom: 0px;
    color: #fff;

}

